<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Alien Creation</title>
</head>

<body>
    <h2>Alien Creation</h2>

    <form action="createAlien">
        <label for="aId">Enter Id :</label>
        <input type="text" id="aId" name="aId"><br>
        <label for="aName">Enter Name :</label>
        <input type="text" id="aName" name="aName"><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>